
body{
    background-color:gray

}


div.principal{
/*border: solid;*/
width: 100%;
/*height: 880px;*/
margin-top: 80px;
margin-right: 705;



}
h2{
    text-align: center;
}

div.seccionMenu{
   /* border: solid;*/
    width: 17%;
    height: 970px;
    float: left;
   

}

section.seccion1{
   /* border: solid;*/
    width: 100%;
    height: 1000px;
  
   
}

section.seccion2{
/*border: solid;*/
   /*margin-top: 300px;*/
   height: 3000px;
   background-color: #4B6981;
 
}

/*
div.abr1{

    
   
    background-color: blue;
}
*/
/*
img.abrigos1{

    float: right;
    margin-right: 10px;
    
    width: 390px;
    height: 310px;
    border: solid;
}
*/
hr.lineaC{
    width: 80px;
}
div.lomrems{
    /*width: 800px;*/
   /* border: solid;*/
   /* background-color: darkorange;*/
    margin-left: 22%;
    width: 45%;
     
 }
 p.lorem1{
   /* margin-left: 450px;*/
   text-align: justify;
   text-align: left;
}


/*  estilos menú */

aside.menuV{
    float: left;
    width: 15%;
    overflow: hidden;

    border: solid;
    /*border-width:9px;*/
   
  
}

aside.menuV a{
    background-color:  #a63e49;
    color: white;
    text-decoration: none;
    padding: 40px;
    display: block;
  
}

.menuV a:hover{
    background-color: white;
    color: black;
}

img.cuadrado{
    float: left;
    width: 90%;
    border: 8px solid;
}

/*  inicio estilos seccion2  */
/*
img.abrigos1{
    margin-right: 350px;
}

*/
div.cajaLorem2{

    /*border: solid;*/
    width: 650px;
    margin-left: 700px;
}

hr.lineaLarga{
    width: 1800px;
}

img.abrigos1{

    float: right;
    width: 400px;
    height: 300px;
}

img.lorem2{
    float: left;

}

img.geans1{
    float: left;

}
h3,h2{
    text-align: center;
}


hr.lineaC{
    width: 80px;
}
h1{
    text-align: center;
}

h2.conoC{
    text-align: center;
}
hr.lineacorta{
    width: 150px;
}

pre.conocimientos{
    text-align: center;
}

h1,h2,h3,pre,p{
    color: white;
}
h2.mitrabajo,h3.mistrabajos{
    text-align: center;
}


td,br, table{
    color: white;
}

img.collar,.relog,.pulsera1,.anillo1{
width: 130px;
height: 130px;
margin-left: 140px;

}

table.tabla1{

    border-width: 5px;
    background-color: dimgrey;
}

img.invierno1, .chamarra1, .sueter1,.chammara2,.verano1,.abrigo1{

width:300px;
height:300px;
}

input.campoAsunto,.campoMensaje{

    width: 500px;
   
}


input.campoNombre, .campoEmail{

    width: 245px;
}


/*  fin estilos seccion 2*/


/*fin  de estilos menu*/